<div class="board-container">
  <ng-container>
    <div
      class="board-row"
      *ngFor="let row of board; let y = index; let evenRow = even"
    >
      <div
        *ngFor="let square of row; let x = index; let oddSquare = odd"
        class="board-square"
        [ngClass]="{ 'dark-square': oddSquare === evenRow }"
      ></div>
    </div>

    <div class="board-square">
      <app-chesspiece
        dgnDraggable
        [type]="'pawn'"
        [color]="'w'"
      ></app-chesspiece>
    </div>

    <div class="board-square">
      <app-chesspiece [type]="'bishop'" [color]="'w'"></app-chesspiece>
    </div>
  </ng-container>
</div>

<!-- https://mattlewis92.github.io/angular-draggable-droppable/docs/directives/DraggableDirective.html -->

<!--
	Shopify DRAGGABLE wrapper:
	https://github.com/mikerhyssmith/draggable-ng
-->

<!-- https://stackoverflow.com/questions/62903592/drag-and-drop-custom-static-components-using-angular-material-cdk -->
